body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bdb7b7;
}

header {
    background-color: #1a004f;
    color: white;
    padding: 15px 0;
}

.header-container {
    width: 80%;
    margin: 0 auto;
}

.container {
    margin: 20px auto;
    width: 80%;
}

.resultsContainer {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.inputField {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.searchButton {
    padding: 10px;
    background-color: #006f20;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cleanButton {
    padding: 10px;
    background-color: #c30000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
