body {
    font-family: 'Arial', sans-serif;
    background-color: #ac9797;
    color: #fff; 
}

center {
    text-align: center;
}

h1 {
    color: #fff;
}

button {
    background-color: #a20000;
    color: #fff; 
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #640078;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff; 
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}

tr:hover {
    background-color: #ac9797;
}
