body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; 
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #ddd;
    padding: 10px;
}

nav ul {
    list-style: none;
    text-align: center; 
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #ddd;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #aaa;
    color: white;
}

main {
    padding: 20px;
}

footer {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
